<div class="footer">
	<div class="inner">

		%%Panel.SideNewsletterBox%%

		<div class="footer-main">
			<div class="inner">
				<div class="footer-columns grid">
					<div class="grid__item one-quarter"><h4>Quick Links</h4>%%Panel.PagesMenu%%</div>
					<div class="grid__item one-quarter">%%Panel.FooterCategoryList%%</div>
					<div class="grid__item one-quarter">%%Panel.BrandList%%</div>
					<div class="grid__item one-quarter">%%Panel.SocialLinks%%</div>
				</div>
			</div>
		</div>

		<div class="footer-links">
			<div class="inner">
				<p>
					<span id="currencyPrices">%%GLOBAL_AllPricesAreInCurrency%%.</span> &copy; %%GLOBAL_Year%% %%GLOBAL_StoreName%%. %%SNIPPET_SitemapLink%%
              		<!-- <span class="powered-by">%%GLOBAL_PoweredBy%%</span> -->
                </p>
				%%GLOBAL_DebugDetails%%
			</div>
		</div>

	</div>
</div>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%



%%GLOBAL_FooterScripts%%

%%GLOBAL_PinterestJS%%
%%SNIPPET_FastCartThickBoxJs%%


