// $susy: (
// 	flow: ltr,
// 	math: fluid,
// 	output: float,
// 	gutter-position: after,
// 	container: auto,
// 	container-position: center,
// 	columns: 12,
// 	gutters: .25,
// 	column-width: false,
// 	global-box-sizing: border-box,
// 	last-flow: from,
// 	debug: (
// 		image: hide,
// 		color: rgba(#66f, .25),
// 		output: background,
// 		toggle: top right,
// 	),
// 	use-custom: (
// 		background-image: true,
// 		background-options: false,
// 		box-sizing: true,
// 		clearfix: false,
// 		rem: true,
// 	)
// );

$susy: (
  	container: 100%,
  	columns: 12,
  	// column-width: 120px,
  	gutters: 30px/120px,
  	// gutter-position: inside-static,
  	math: fluid,
);

.container {
	@include container($size-hd);
}

.col-1 {
	@include span(1);
}

.col-2 {
	@include span(2);
}

.col-3 {
	@include span(3);
}

.col-4 {
	@include span(4);
}

.col-5 {
	@include span(5);
}

.col-6 {
	@include span(6);
}

.col-7 {
	@include span(7);
}

.col-8 {
	@include span(8);
}

.col-9 {
	@include span(9);
}

.col-10 {
	@include span(10);
}

.col-11 {
	@include span(11);
}

.col-12 {
	@include span(12);
}

@include border-box-sizing;